backend/node_modules/
backend/dist/
backend/logs/*.log
backend/*.txt
backend/docs/
backend/.env
backend/typedoc-assets
backend/task.md
backend/*.tgz
backend/RELEASE.MD

# build output
frontend/dist/

# generated types
frontend/.astro/

# dependencies
frontend/node_modules/

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# environment variables
*.env
*.env.production

# macOS-specific files
frontend/.DS_Store

# jetbrains setting folder
frontend/.idea/
