---
import '../styles/global.css'
import '../styles/chat.css'
import '../styles/sidebar.css'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="generator" content={Astro.generator} />
    <title>CryptoBot - Asistente de Criptomonedas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  </head>
  <body>
    <div class="app-container">
      <slot />
    </div>
  </body>
</html>